springBackend/demo/HELP.md
springBackend/demo/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

spirngBackend/demo/.idea/
springBackend/demo/src/main/resources/application.yml
testDB/

rustCLIWeb/.git/
rustCLIWeb/.idea/
rustCLIWeb/target/debug/.fingerprint/
rustCLIWeb/target/debug/deps/
rustCLIWeb/target/debug/incremental/
rustCLIWeb/target/debug/rustCLIWeb-dcc2038a40c568e4
rustCLIWeb/target/debug/rustCLIWeb-dcc2038a40c568e4.d
rustCLIWeb/target/debug/rustCLIWeb.d

react_site/.idea/
react_site/node_modules/
react_site/package.json
react_site/package-lock.json

### Jooby ###
jooby_backend/conf/application.conf
jooby_backend/.gradle/


# my ignores
notes.md
backup/