springBackend/demo/HELP.md
springBackend/demo/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

spirngBackend/demo/.idea/
springBackend/demo/main/resources/application.yml
testDB/

rustCLIWeb/.git/
rustCLIWeb/.idea/

react_site/.idea/
react_site/node_modules/
react_site/package.json
react_site/package-lock.json

